body,
html {
	margin: 0;
	border: 0;
	outline: none;
}

body {
	line-height: 1;
	font-family: Open Sans, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: rgb(117, 188, 220);
	background: -moz-linear-gradient(
		180deg,
		rgba(117, 188, 220, 1) 0%,
		rgba(213, 234, 239, 1) 100%
	);
	background: -webkit-linear-gradient(
		180deg,
		rgba(117, 188, 220, 1) 0%,
		rgba(213, 234, 239, 1) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(117, 188, 220, 1) 0%,
		rgba(213, 234, 239, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75bcdc",endColorstr="#d5eaef",GradientType=1);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.btn {
	cursor: pointer;
	background: #afca0b;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
}

.btn:disabled {
	background: #65686b;
	cursor: none;
}

/* APRESENTACAO */

.apresentacao {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.95);
	z-index: 10;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.apresentacao .logo {
	margin-bottom: 20px;
}

.apresentacao .logo img {
	max-width: 40vw;
}

.apresentacao .titulo {
	margin-top: 20px;
	text-align: center;
}

.apresentacao .titulo h2,
.apresentacao .titulo h4,
.apresentacao .titulo p {
	color: white;
}

.apresentacao .apresentacao-fechar {
	background: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
}

/* ******************** */

/* TUTORIAL */

.tutorial {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.95);
	z-index: 10;
	width: 100vw;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
}

.slider-wrapper {
	width: 50vw;
	min-height: 50vh;
	border-radius: 5px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 20px;
	overflow: hidden;
}

.swipe-item {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.swipe-item h4 {
	margin-top: 40px;
}

.swipe-item img {
	width: 100%;
}

.slider-action {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.slider-action button {
	background: transparent;
	border: none;
}

.slider-action button i {
	font-size: 30px;
}

.tutorial-button-prev {
	visibility: hidden;
}

.tutorial-finish {
	display: none;
}

/* ******************** */

/* HEADER */

.header {
	max-width: 1440px;
	width: 100%;
	height: 60px;
	padding: 20px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .logo img {
	max-width: 30vw;
}

.header .logo,
.header .help {
	padding: 0px 20px;
}

.header .help button {
	background: transparent;
	border: none;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.header .help button {
	cursor: pointer;
}

/* ******************** */

/* CONTENT */

.content {
	margin-top: 20px;
	width: 1024px;
}

/* ******************** */

/* LIST */

.list-title {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.list-title .title {
	display: flex;
	align-items: center;
	color: white;
}

.list-title .title span {
	margin-left: 10px;
	font-size: 21px;
}

.breadcomb ol {
	margin: 0;
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	align-items: center;
}

.breadcomb ol li {
	list-style: none;
	color: white;
}

.breadcomb ol .separator {
	margin-left: 8px;
	user-select: none;
	margin-right: 8px;
}

.list-container {
	background: #fff;
	border-radius: 5px;
	padding: 48px 44px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 0 4px 7px 0 hsla(0, 0%, 80%, 0.5);
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-add-container {
	display: flex;
	flex: 1 1;
	justify-content: flex-end;
}

.table-wrapper {
	margin-top: 28px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	overflow: hidden;
}

.table-wrapper table {
	width: 100%;
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
}

.table-head {
	background: #65686b;
	display: table-header-group;
}

.table-head tr {
	color: inherit;
	display: table-row;
	outline: 0;
	vertical-align: middle;

	color: rgba(0, 0, 0, 0.87);
	font-weight: 500;
	line-height: 1.5rem;
}

.head-cell {
	display: table-cell;
	padding: 16px;
	text-align: left;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.43;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
	letter-spacing: 0.01071em;
	color: #fff !important;
	font-weight: 700 !important;
	font-size: 13px !important;
}

.table-body {
	display: table-row-group;
	color: inherit;
	outline: 0;
	vertical-align: middle;
}

.table-body td {
	border-bottom: none;
	color: #1f2a47;

	display: table-cell;
	padding: 16px;
	font-size: 0.875rem;
	text-align: left;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: 0.01071em;
	vertical-align: inherit;
}

.table-body td button {
	display: flex;
	border: none;
	cursor: pointer;
}

.table-body td i {
	font-size: 24px;
}

.table-loading {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.table-loading i {
	font-size: 30px;
}

.empty-row {
	text-align: center !important;
}

/* ******************** */

/* FORM */

.form-group {
	margin-bottom: 1rem;
	box-sizing: border-box;
}

.form-group label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group textarea {
	height: auto;
}

.form-action {
	display: flex;
	align-items: center;
}

.saving-loading {
	display: none;
	margin-left: 10px;
}

.form-result {
	padding: 16px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.form-success {
	background: #2ecc71;
	color: white;
}

.form-error {
	background: #e74c3c;
}

.input-error {
	margin-top: 5px;
	color: #e74c3c;
}

.input-error,
.form-result {
	display: none;
}

/* ******************** */

/* MODAL */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-header,
.modal-body {
	padding: 16px;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 80%;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
